<a href="https://colab.research.google.com/github/nurfnick/Operations_Research/blob/main/LinProgWithSlack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np

A = np.array([[7,3,6,1,0],[4,4,5,0,1]])
b= np.array([300,200])

In [20]:
import itertools

for i in itertools.combinations(range(5), r=2):
  print(i)
#np.linalg.solve(A,b)

(0, 1)
(0, 2)
(0, 3)
(0, 4)
(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)

In [25]:
index = [[i,j] for i in range(5) for j in range(i+1,5)]

index

[[0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 3],
 [2, 4],
 [3, 4]]

In [28]:
for i in index:
  print(np.linalg.solve(A[:,i],b))

[37.5 12.5]
[27.27272727 18.18181818]
[ 50. -50.]
[42.85714286 28.57142857]
[-33.33333333  66.66666667]
[ 50. 150.]
[ 100. -200.]
[40. 60.]
[ 50. -50.]
[300. 200.]

In [30]:
d = {0:'small',1:'med',2:'large',3:'slacklabor',4:'slackmaterial'}

In [31]:
d[4]

'slackmaterial'

In [34]:


for i in index:
  print((d[i[0]],d[i[1]]),np.linalg.solve(A[:,i],b))

('small', 'med') [37.5 12.5]
('small', 'large') [27.27272727 18.18181818]
('small', 'slacklabor') [ 50. -50.]
('small', 'slackmaterial') [42.85714286 28.57142857]
('med', 'large') [-33.33333333  66.66666667]
('med', 'slacklabor') [ 50. 150.]
('med', 'slackmaterial') [ 100. -200.]
('large', 'slacklabor') [40. 60.]
('large', 'slackmaterial') [ 50. -50.]
('slacklabor', 'slackmaterial') [300. 200.]

In [39]:
def profit(list):
  return 4*list[0]+2*list[1]+3*list[2]

In [83]:
newlist = []
indexref = [2,3]
solution = np.linalg.solve(A[:,indexref],b)
def buildFullList(indexref,solution):
  newlist =[]
  solutioncounter = 0
  for j in range(5):
    if j not in indexref:
      newlist.append(0)
    else:
      newlist.append(round(solution[solutioncounter],5))
      solutioncounter += 1
  return newlist

buildFullList(indexref,solution)

[0, 0, 40.0, 60.0, 0]

In [45]:
for i in index:
  solution = np.linalg.solve(A[:,i],b)
  print((d[i[0]],d[i[1]]),solution,buildFullList(i,solution),profit(buildFullList(i,solution)))

('small', 'med') [37.5 12.5] [37.5, 12.500000000000005, 0, 0, 0] 175.0
('small', 'large') [27.27272727 18.18181818] [27.272727272727273, 0, 18.181818181818183, 0, 0] 163.63636363636363
('small', 'slacklabor') [ 50. -50.] [50.0, 0, 0, -50.00000000000002, 0] 200.0
('small', 'slackmaterial') [42.85714286 28.57142857] [42.857142857142854, 0, 0, 0, 28.57142857142858] 171.42857142857142
('med', 'large') [-33.33333333  66.66666667] [0, -33.33333333333334, 66.66666666666667, 0, 0] 133.33333333333331
('med', 'slacklabor') [ 50. 150.] [0, 50.0, 0, 150.0, 0] 100.0
('med', 'slackmaterial') [ 100. -200.] [0, 100.0, 0, 0, -200.0] 200.0
('large', 'slacklabor') [40. 60.] [0, 0, 40.00000000000001, 59.99999999999998, 0] 120.00000000000003
('large', 'slackmaterial') [ 50. -50.] [0, 0, 50.0, 0, -49.99999999999998] 150.0
('slacklabor', 'slackmaterial') [300. 200.] [0, 0, 0, 300.0, 200.0] 0

In [60]:
def testForFeasible(list1):
  return (A[0]@list1<=b[0]) & (A[1]@list1<=b[1]) & all([i>=0 for i in list1])

In [55]:
all([i>=0 for i in buildFullList(indexref,solution)])

True

In [49]:
buildFullList(indexref,solution)

[0, 0, 300.0, 200.0, 0]

In [61]:
for i in index:
  solution = np.linalg.solve(A[:,i],b)
  list1 = buildFullList(i,solution)
  print((d[i[0]],d[i[1]]),solution,list1,profit(list1),testForFeasible(list1))

('small', 'med') [37.5 12.5] [37.5, 12.500000000000005, 0, 0, 0] 175.0 False
('small', 'large') [27.27272727 18.18181818] [27.272727272727273, 0, 18.181818181818183, 0, 0] 163.63636363636363 True
('small', 'slacklabor') [ 50. -50.] [50.0, 0, 0, -50.00000000000002, 0] 200.0 False
('small', 'slackmaterial') [42.85714286 28.57142857] [42.857142857142854, 0, 0, 0, 28.57142857142858] 171.42857142857142 True
('med', 'large') [-33.33333333  66.66666667] [0, -33.33333333333334, 66.66666666666667, 0, 0] 133.33333333333331 False
('med', 'slacklabor') [ 50. 150.] [0, 50.0, 0, 150.0, 0] 100.0 True
('med', 'slackmaterial') [ 100. -200.] [0, 100.0, 0, 0, -200.0] 200.0 False
('large', 'slacklabor') [40. 60.] [0, 0, 40.00000000000001, 59.99999999999998, 0] 120.00000000000003 False
('large', 'slackmaterial') [ 50. -50.] [0, 0, 50.0, 0, -49.99999999999998] 150.0 False
('slacklabor', 'slackmaterial') [300. 200.] [0, 0, 0, 300.0, 200.0] 0 True

In [84]:
X = []
for i in index:
  solution = np.linalg.solve(A[:,i],b)
  list1 = buildFullList(i,solution)
  X.append([(d[i[0]],d[i[1]]),solution,list1,profit(list1),testForFeasible(list1)])

In [85]:
import pandas as pd

pd.DataFrame(X,columns = ['Variables Used','Solution','Expanded with Zeros','Profit','In Feasible'])

                Variables Used  ... In Feasible
0                 (small, med)  ...        True
1               (small, large)  ...       False
2          (small, slacklabor)  ...       False
3       (small, slackmaterial)  ...        True
4                 (med, large)  ...       False
5            (med, slacklabor)  ...        True
6         (med, slackmaterial)  ...       False
7          (large, slacklabor)  ...        True
8       (large, slackmaterial)  ...       False
9  (slacklabor, slackmaterial)  ...        True

[10 rows x 5 columns]

In [5]:
from scipy.optimize import linprog

linprog([-4,-2,-3],A,b)

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:87: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

     con: array([], dtype=float64)
     fun: -174.99999996917586
 message: 'Optimization terminated successfully.'
     nit: 5
   slack: array([5.02170678e-08, 4.08952303e-08])
  status: 0
 success: True
       x: array([3.75000000e+01, 1.25000000e+01, 9.65956894e-10])